div {
    border: 3px dotted green;
    margin: 2em auto;
    padding: 2em;
    width: 80%;
    font-size: 1.2em;
    font-family: 'Hack', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 2em;
}

.smaller {
    border: 3px solid blue;
    margin: 2em auto;
    padding: 1.2em;
    width: 60%;
    font-size: 0.8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 2em;
}

.goRight {
    text-align: right;
}

table {
    padding: 5px;
}

thead td {
    background-color: lightgray;
}

tr {
}

td {
    border: 1px solid green;
    padding: 5px;
}

form * {
    margin:0.3em;
}
